<div style="background-color: white;width: 100%;border-bottom: 1px solid grey height: auto;padding-top: 10px;padding-bottom: 10px;margin-bottom: 10px;"> <h2>Test design tomo - ceci est la place de la navbar (ne pas toucher)</h2> </div>


<h3>Liste de praticiens</h3>

<br>
<br>

<p>++ Boutton pour ajouter un praticien</p>
<p>++ Boutton pour ajouter un ami</p>

<br>
<br>


<p>DR JULIA ROUX</p>
<p>Gastro-entérologue et hépatologue</p>
<p>40 Avenue DE VERDUN 94010 Créteil</p>
<p>Tags</p>
<p>Excellent (1)</p>
<p>Confiance (1)</p>
<p>Recommandations:</p>
<p>Amis: 1</p>
<p>Utilisateurs :3</p>
<p>Commentaires: 3</p>

<br>
<br>

<p>DR Antoine Legéant</p>
<p>Médecin généraliste</p>
<p>40 Avenue DE VERDUN 94010 Créteil</p>
<p>Tags</p>
<p>Excellent (2)</p>
<p>Confiance (5)</p>
<p>Recommandations:</p>
<p>Amis : 1</p>
<p>Utilisateurs : 2</p>
<p>Commentaires: 3</p>

<br>
<br>


<p>DR Steve Jobs</p>
<p>Docteur en science cognitives</p>
<p>76 Avenue de Wagram, Paris 8e Arrondissement, Île-de-France, France</p>
<p>Tags</p>
<p>Médecin de famille (3)</p>
<p>Confiance (40)</p>
<p>Recommandations:</p>
<p>Amis : 2</p>
<p>Utilisateurs : 0</p>
<p>Commentaires: 2</p>


<%= image_tag("User1.png") %>
<%= image_tag("User2.png") %>
<%= image_tag("User3.png") %>
<%= image_tag("User4.png") %>

<%= image_tag("Maptomo") %>


<div style="background-color: white;width: 100%;border-bottom: 1px solid grey height: auto;padding-top: 10px;padding-bottom: 10px;margin-top: 30px;"> <h2>Ceci est un footer (ne pas toucher)</h2> </div>
